name: First DevOps CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Print Hello Message
        run: echo "Hello Rishma! Your first CI pipeline is working!"

      - name: List files
        run: ls -l
